<form [formGroup]="stafflogin" (ngSubmit)="login()">
<div class="body">
    <div class="login-container">
        <h2> Teachers Login</h2>
         <input type="text" placeholder="Username or Email" name="username_email" formControlName="username"><br>
         <input type="password" placeholder="Password" name="password" formControlName="password"><br>
         <button type="submit">Login</button>
        <div class="side-menu">
            <a href="#" class="left-link">Forget Password</a>
         <nav>
            <a [routerLink]="['/sign-up']" [queryParams]="{ value: 'true' }" class="right-link">Create a new account?</a>
         </nav>
        </div>
 </div> 
</div>
</form>